h1 {
    color: red;
}

.pokemon-button {
    border: none;
    font-family: inherit;
    background-color: #05676e;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid #03474c;
    transition: 0.4s opacity, background-color, 0.4s font-size;
    margin: 10px;
    
}
.pokemon-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

.pokemon-list {
   list-style: none;
}

@media (max-width: 768px){
    h1{
        font-size: 24px;
    }
    .pokemon-button {
        padding: 8px;
        margin: 8px;
    }
}

@media(max-width:480px) {
    h1 {
        font-size: 20px;
    }
    .pokemon-button {
        padding: 6px;
        margin: 6px;
    }
}